@model IEnumerable<API.Models.Employee>

@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <h1 align="center">Employee Data</h1>
    <p>
        <a class="btn btn-default" data-toggle="modal" data-target="#ModalData" onclick="Create()">Create New</a>
    </p>
    <div class="table-responsive">
        <table class="table" id="dataTable">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Hire Date</th>
                    <th scope="col">Salary</th>
                    <th scope="col">Job</th>
                    <th scope="col">Manager</th>
                    <th scope="col">Department</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="bodyEmployee"></tbody>
        </table>
    </div>
</div>

@*<h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table table-hover" id="dataTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HireDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Salary)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Job)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Manager)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Department)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HireDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Job.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manager.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@

@section Scripts {
    <script src="~/js/Employee/Index.js"></script>
}

